@{
    ViewBag.Title = "Home";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div style="padding:10px; background-color:#FBFBFB;" class="text-center">
        <br />
        <img src='@Url.Content("~/Content/Images/Logo_xxl.png")' width="250" height="185"
             alt="SPEED HR Portal">
        <div class="login-logo">
            <b>HR </b>Portal
        </div>
        <figure class="swing">
            <img src='@Url.Content("~/Content/Images/construction.png")' width="200" height="112" alt="Mohammed Atef">
        </figure>
            <img src='@Url.Content("~/Content/Images/hr_portal_bg.jpg")' width="626" height="492"
                 alt="SPEED HR Portal">
            <br />
            <br />
    </div>

 